/* The following displays a background color on the home page */
html {
    background-color: rgb(9, 9, 9);
    min-width: 350px;
}

.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
}

/* This styles the links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font: 25px 'Strait', sans-serif;
}

/* This styles the color of the links inside the nav seperatly as the 'Experiences' link has a different color to the others */
.main {
    color: rgb(91, 219, 148);
}

.other {
    color: rgb(54, 142, 116);
}

.main,
.other {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* This changes the background color and color of the text links on hover */
.main:hover,
.other:hover {
    background-color: lightgray;
    color: white;
}

/* This hides the icon that should open/close the navbar on smaller screens (<1000px) */
.navbar .icon {
    display: none;
}

/* This means that when the screen is less than 1000px wide, all links are hiden, except for the logo (home page link) and the icon (link that opens/closes the navbar */
@media screen and (max-width: 1000px) {
  .navbar a:not(:first-child) {
    display: none;
    }
    
  .navbar a.icon {
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 10px;
    color: rgb(0,0,0);
    font-size: 40px;
  }

/* This means that using JavaScript, the "responsive" class is added to the navbar when the user clicks on the icon. Simply, this class makes the navbar appear appropriately on smaller screens (links are vertical as opposed to horizontal) */
  .navbar.responsive {
      position: relative;
    }
    
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

/* This vertically 'stacks' the images */
  img.horizontals {
    width: 98%;
    }
}

h1 {
    color: rgb(255, 255, 255);
    font: 34px 'Faster One', cursive;
    padding: 1%;
}

h2 {
    color: rgb(255, 255, 255);
    font: 25px 'Strait', sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font: 16px 'Mukta Malar', sans-serif;
}

/* This gives the main content i.e. text and imagery a background colour that makes it appear layered on top of the background color */
.maincontent {
    background-color: rgb(21, 27, 7);
    padding: 1%;
    margin: 5% 10% 5% 10%;
}

.horizontals {
    width: 49%;
    border: solid medium rgb(91, 219, 148);
}

/* This displays a banner image below the navbar that takes up 100% of the screen width and hence adjusts according to screen size */
.banner {
    width: 100%;
}

/* This styles the ul */
ul {
    color: rgb(255, 255, 255);
    font-family: 'Mukta Malar', sans-serif;
}